/* You can add global styles to this file, and also import other style files */
$darkgrey: rgb(59, 58, 58);
$lk_brown:rgb(91, 35, 15);
$mobile-breakpoint: 600px;

$white: rgb(239, 237, 237, 1);

* {
    box-sizing: border-box;
  }

  html, body{
    font-family: "Roboto Slab", sans-serif;
    font-weight: 200;  
    margin: 0;
    padding: 0;
    background-color: #F1F1F1 !important;
}

.font-courgette {
  font-family: 'Courgette', cursive !important;
}

.section-wrapper {
  padding: 2rem 5rem 5rem 2rem;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.section {
    padding: 3rem 0 0 0;
    align-items: center;
    text-align: center;
}

.section-header {
    color: $lk_brown;
    font-size: 4rem;
}

.text-wrapper {
  padding: 0 4rem 0 4rem;
}

.text-wrapper p {
  text-indent: 1rem;
  text-align: justify;
}

.italic {
  font-style: italic;
}

.router-wrapper {
  position:relative;
  top:0;
  padding: 4.5rem 0 0 0;
  width: 100%;
}

.header-wrapper {
  position: relative;
  height: 16rem;
  width: 100%;
  background: url('/lk_banner2.png') no-repeat center center;
  background-size: cover;
  background-color: $lk_brown;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgba(186, 118, 242, 0.5); // purple with 50% opacity
}

.f-color-lkbrown{
    color: $lk_brown !important;
}


.white {
  color: $white !important;
}

// .overlay {
//   position: absolute;
//   top: 0; left: 0; right: 0; bottom: 0;
//   background-color: rgba(186, 118, 242, 0.5); // purple with 50% opacity
//   z-index: 1;
// }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


@media (max-width: $mobile-breakpoint) {
  .section-wrapper {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  .section-header {
    color: $lk_brown;
    font-size: 2rem;
}

  
  .router-wrapper {
    position:relative;
    top:0;
    padding: 7.2rem 0 0 0;
    width: 100%;
  }

  .header-wrapper {
    position: relative;
    height: 8rem;
    width: 100%;
    background-color: $lk_brown;
    // background: linear-gradient(rgba(130, 120, 141, 0.8), rgba(140, 139, 141, 0.44)), url('/lk_banner_new.png') no-repeat center center;
    // background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgba(186, 118, 242, 0.5); // purple with 50% opacity
  }

.text-wrapper {
  padding: 0 1rem 0 1rem;
}

.text-wrapper p {
  text-indent: 1rem;
  text-align: justify;
}



}